@media only screen and (max-width: 1000px){
    .h-icon{
        display: block;
    }
    .h-options{
        display: none;
    }

    .m-1{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        height: 100%;
    }

    .m-1-2{
        margin-bottom: 100px;
    }
    .m-2{
        flex-direction: column;
    }
    .m-2-input{
        padding: 20px;
        margin: auto;
    }
}
@media only screen and (MIN-width: 1700px){
    body{
        width: 1200px;
        margin: 0 auto;
    }
    .m-2-input{
        padding-right: 20px;
    }
}