*{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}
.logo svg{
    width: 180px;
    height: 51px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}
.h-options{
    display: flex;
    align-items: center;
}
.h-h-t a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
    color: black;
}
.h-c a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    font-style: bold;
}
.h-c{
    background-color: rgba(117, 191, 122, 1);
    border-radius: 5px;
    padding: 10px 25px;
}
.h-icon{
    display: none;
}

main{
    background-color: #F9F9F9;
}
.m-1 {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px 100px 100px 100px;
  height: 650px;
}

.m-1-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  padding-right: 50px;
}

.m-1-1 h1 {
  font-size: 60px;
  font-style: 900;
  line-height: 1.2;
}

.m-1-1 p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
  color: grey;
}

.m-1-1 > div {
  display: flex;
  gap: 20px;
}

.m-1-1 div button {
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: black;
  padding: 15px 25px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
}

.m-1-1 div button span img {
  height: 28px;
}

.m-1-2 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.m-1-2 img {
  max-width: 100%;
  height: auto;
}


.m-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #75c57a;
  padding: 50px 70px;
  margin: auto 100px;
  border-radius: 10px;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.m-2 p {
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  width: 225px;
  margin: 0;
}

.m-2-input {
  padding: 20px;
  padding-right: 200px;
  margin-right: 5px;
  margin-left: 130px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  width: 300px;
  color: #dadada;
  font-weight: 600;
}
.m-2-input::placeholder {
    opacity: 0.5;
}

.m-2 button {
  background-color: black;
  color: white;
  padding: 20px 50px;
  font-weight: bold;
  font-size: 22px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.m-3{
    margin: 100px auto;
    width: 600px;
}

.m-3 h1{
    font-size: 45px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    margin-bottom: 20px;
}
.m-3 h1 span{
    color: #75c57a;
}
.m-3 p{
    font-weight: 500;
    font-style: Medium;
    font-size: 23px;
    line-height: 26px;
    opacity: .5;
    text-align: center;
}